command: ["python", "app.py"]
env:
  - name: 'RAG_ENDPOINT'
    value: 'https://YOUR_DATABRICKS_HOST/serving-endpoints/YOUR_RAG_NAME/invocations'
  - name: 'DATABRICKS_WAREHOUSE_ID'
    valueFrom: "sql_warehouse"